@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.bg-header{
    background-image: url(../assets/img/bg-header.svg);
}
.Questions{
    height: 400px;
}
.langue{
    font-size: 15px;
}
.btn-primary{
    background-color: #1078AD !important;
}
.circle{
    background-color:#1078AD;
    height: 20px;
    width: 20px;
}

nav .nav-link{
    font-size: 17px;
    font-weight: bold;
}
nav .nav-link:hover{
    color: #054464 !important;
}
.error404 {
    width: 50vw;
}
.reponse .check{
    border-radius: 4px;
    border: 2px solid #1078AD;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
}
.active-check{
    color:#F4CF1B ;
    background-color: #1078AD;
    transition: ease-in-out .3s;
}